body {
    background-color: darkslategrey;
}
.calc-wrapper {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 0 auto;

    & .calc-display {
        background-color: black;
        color: white;;
        font-size: 2em;
        font-family: monospace;
        padding: 1em;
        width: 100%;
        display: flex;
        text-align: right;
        justify-content: flex-end;
        align-items: center;
    }

    & .calc-keys {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        width: 100%;

        & button {
            border:none;
            border: 1px solid rgba($color: #000000, $alpha: 0.1);
            background-color: white;
            font-size: em;
            font-family: monospace;
            padding:1em;
            transition: 233ms ease-in-out all;

            &:hover {
                background-color: rgba($color: #000000, $alpha: 0.3);
            }
            &:focus, &:active {
                background-color: tomato;
            }

            &.equals {
                grid-row: 2 / span 4;
                grid-column: 4 / span 1;
                background-color: tomato;
            }
        }
        & .operator {
            background-color: rgba($color: #000000, $alpha: 0.2);

        }

    }
}