.header {
    background-color: aquamarine;
    grid-area: header;
}
.main {
    background-color:blueviolet;
    min-height: 500px;
    grid-area: main;
}
.footer {
    background-color: #333;
    min-height: 200px;
    grid-area: footer;
}
.body {
    display:grid;
    grid-template-areas: 
    "header"
    "main"
    "footer"
}
.nav {

}